extends layout

block body
  div
    h2 Hello
    ul.menu
      li
        a(href='view1') view1
      li
        a(href='view2') view2

    div(ng-view)

  != js('lib/tools/lodash.min')
  != js('lib/angular/angular')
  != js('lib/angular/angular-route')
  != js('app')
  != js('services')
  != js('controllers')
  != js('filters')
  != js('directives')
