doctype 5
html(lang='en', ng-app="ocarinaMobile")
  head
    meta(content='text/html;charset=UTF-8', http-equiv='Content-type')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black', name='apple-mobile-web-app-status-bar-style')
    base(href='/')
    title Playedby.me
    != css('app')

  body
    block body
