doctype 5
html(lang='en', ng-app="ocarinaMobile")
  head
    meta(content='text/html;charset=UTF-8', http-equiv='Content-type')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black', name='apple-mobile-web-app-status-bar-style')
    base(href='/')
    title Playedby.me
    != css('app')

  body( ng_controller="UserCtrl" )
    block body

    != js('app')
    != js('http://connect.soundcloud.com/sdk.js')

    script.
      SC.initialize({
        client_id: "3d6e76640c62f42c02cb78d2c53d0db9"
      });
