// TODO add ctrl and show if playlist
.playlist-container
  .addSongsModal.modal( ng_class='{"active": showAddSongs}' )
    header.bar-title
      h1.title Add Songs
      a.button( ng_click="hideAddSongsModal()" )
        | Close
    .content.content-padded
      p The contents of my modal.

  // TODO add password lock if not member

  .members-only{ ocarina_if="isMember(currentUser.id)" }
    a.button-block.button-main( ng_click="showAddSongsModal()" )
      | Add Songs
    .playlist-name
      h2 {{playlist.name}}
      h4
        | by
        a( ng_href="/{{playlist.host.id}}" )
          img.avatar{ ng_src="{{playlist.host.image}}" }

    .played-playlist-songs( ng_show="playlist.played_playlist_songs.length" )
      .song-list.list.inset( ng_repeat="song in playlist.played_playlist_songs | orderBy:'played_at'" )
        li.song-info-container
          b.votes {{song.vote_count}} votes
            .song-name.wordwrap {{ song.song_name | truncate:60:true:true }}

    .player( ocarina_if="playlist.owner_id == currentUser.id", scroll_to_on_load="" )
      // TODO include player

    // TODO add guest feedback
    // TODO add loading spinner

    .playlist-songs( ng_show="playlist.playlist_songs.length" )
      .song-list.list.inset( ng_repeat="song in playlist.playlist_songs | orderBy:'vote_count':true" )
        li.song-info-container
          b.votes {{song.vote_count}} votes
            .song-name.wordwrap {{ song.song_name | truncate:60:true:true }}
            a.upvote.button( ng_click="upvoteSong(song)",
            ng_class='{"btn-warning": song.current_user_vote_decision == 1}' )
              | upvote
            a.downvote.button( ng_click="downvoteSong(song)",
            ng_class='{"btn-warning": song.current_user_vote_decision == -1}' )
              | downvote

    .playlist-songs.zero-state( ng_hide="playlist.playlist_songs.length" )
      h4 Your playlist is empty!
