.guests, .playlist-name, .playlist-host
  display: inline

.primary-info
  font-size: 15px
  margin-bottom: 10px
  .playlist-name
    font-weight: bold

.secondary-info
  font-size: 10px
  color: #A8A8A8

